/* =======================
   Page Background
======================= */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("../../images/sideimage.png") no-repeat center center/cover;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* =======================
   Main Content
======================= */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px black;
}

.datetime {
  font-size: 18px;
  justify-content: center;
  text-shadow: 1px 1px 3px black;
  margin-top: 10px;
}
